:root{
  --dark: #19283f;
  --green: #33d1cc;
  --red: #ff3150;
  --yellow: #ffc400;
  --section-bg: #eff7fa;
}
body{
  font-family: 'Roboto', sans-serif;
}
.main-btn{
  background-color: var(--red);
  color: var(--yellow);
  padding: 0.5rem 1rem;
  transition: 0.3s;
}
.main-btn:hover{
  color: var(--yellow) !important;
  background-color: var(--red) !important;
  transform: scale(0.94);
}
.main-title::after{
  content: '';
  width: 120px;
  height: 2px;
  background-color: var(--green);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
/* Start Navbar */
.navbar{
  background-color: var(--dark);
}
.navbar .navbar-nav .nav-link {
  color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover{
  color: var(--green);
}
.navbar .navbar-toggler{
  border-color: white;
  font-size: 25px;
}
.navbar .navbar-toggler:focus{
  box-shadow: none;
}
.navbar .search{
  border-left: 1px solid var(--green);
}
.navbar .search i{
  color: white;
}
/* End Navbar */
/* Start Landing */
.landing{
  background-color: var(--dark);
  min-height: calc(100vh - 72px);
}
/* End Landing */

/* Start Features */
.features .icon-holder{
  height: 200px;
}
.features .icon-holder i{
  left:50%;
  transform: translateX(-50%);
}
.features .icon-holder .number{
  font-size: 12rem;
  color: var(--section-bg);
}
.features .icon-holder .icon{
  color: var(--green);
}
.features .feat h4{
  color: var(--yellow);
}
/* End Features */
/* Start Our-work */
.our-work{
  background-color: var(--section-bg);
}
.our-work .list-unstyled li{
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s;
}
.our-work .list-unstyled li:not(.active):hover{
  color: var(--red);
}
.our-work .list-unstyled li.active{
  background-color: var(--red);
  color: var(--yellow);
}
.our-work .box{
  padding: 5px;
  overflow: hidden;
}
.our-work .box::before{
  content: attr(data-work);
  background-color: rgb(51 209 204 / 76%);
  position: absolute;
  font-size: 1.5rem;
  color: white;
  font: bold;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  transform: translateX(calc(-100% - 5px));
}
.our-work .box:hover::before{
  transform: translateX(0);
}
/* End Our-work */
/* Start Stuff */
.stuff .desc{
  max-width: 500px;
}
/* End Stuff */
/* Start Our Team */
.team{
  background-color: var(--section-bg);
}
.team .box h4{
  background-color: var(--green);
}
/* End Our Team */